#navbar {
    height: 15vh ;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0 1px 5px -4px #3c4043;
}



.navbar-links{
     display: block;
    margin: 5px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;    
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
}

#left-navbar {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
}

#right-navbar {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

#img-apps{
    position: relative;
    top: 25px;
    height: 1.8em;
      

}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20%;
    height: 30%;
    box-sizing: border-box;
    background: #1a73e8;
    border-radius: 4px;
    font-size: 14px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 15px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#google-logo {
    position: relative;
    margin-top: 12%;
    height: 3em;
    
}

#form-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    margin: 1% 0px 0px 0px;
    
}

form {
    width: 100%;
    
}



#searchbar {

    border: 1px solid #dbdbdb ; 
    background-color: transparent;
    color: rgba(0,0,0,.87);
    height: 50px;
    font-family: arial,sans-serif;
    border-radius: 35px;
    padding: 0px 0px 0px 60px;
    font-size: 20px;
    margin: auto 0px auto 30px; 
    width: 50%; 
    box-shadow: 1px 1px 4px 0.05px #d2d6db;
     
}

#search-img{
    
    position: relative;
    right: 50px;
    top: 6px;
    
}

#bottom-navbar {
    display: block;
    position: relative; 
    right: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 0px -650px;
    
}

.nav-link {
    margin: 5px 15px 0px 5px;
    align-self: start;
    color: #5f6368;
    text-decoration: none;
}

#results {
    margin: 10px 0px 0px 200px;
}

.search-result {
    margin: 40px 0px 0px 0px; 
    
}

.search-subtitle {
    color: #202124;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    font-family: arial,sans-serif;
}

.search-title {

}

.title  {
    display: block;
    font-size: 1.5em;
    font-family: arial,sans-serif;
    color: #1a0dab;

}

.search-description {
    width: 35%;
    color: #343638;
    word-wrap: break-word;
    line-height: 1.58;
    text-align: left;
    font-family: arial,sans-serif;
    font-size: 17px;


}


#footer {
    position: fixed;
    bottom: 0; 
    background-color: #f1f1f1;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

#left-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-bottom-fotter {
    display: block;
    margin: 5px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;    
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
}

.right-bottom-fotter {
    display: block;
    margin: 5px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;    
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
}

#right-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



a:visited { text-decoration: none; color:rgba(0,0,0,0.87); }
a:hover { text-decoration: underline; color:rgba(0,0,0,0.87); }
a:focus { text-decoration: none; color:rgba(0,0,0,0.87); }
a:hover, a:active { text-decoration: none; color:rgba(0,0,0,0.87); }